.place-order {
    display: flex;
    justify-content: space-between;
    align-items: start;
    margin-top: 100px;
    gap: 50px;
}
.place-order-left {
    width: 100%;
    max-width: max(38%, 500px);
}
.place-order-left p {
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 50px;
}
.place-order-left input{
    margin-bottom: 15px;
    width: 100%;
    padding: 10px;
    border:1px solid #c5c5c5;
    outline-color: tomato;
    border-radius: 4px;
}
.place-order-left .multi-fields {
    display: flex;
    gap: 10px;
}
.place-order-right {
    width: 100%;
    max-width: (40%, 500px);
}
.place-order .cart-total button {
    margin-top: 30px;
}


/* payment method */
.carts-payment-method {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    gap: 20px;
}
.cart-payment-online, .cart-payment-offline {
    display: flex;
    align-items: center;
    margin-top: 20px;
    gap: 12px;
    border-radius: 6px;
    width: 280px;
    border: 1px solid tomato;
    padding: 10px 15px;
    background-color: #fff;
}
@media (max-width: 750px) {
    .place-order {
        flex-direction: column;
    }
}